<p id="notice"><%= notice %></p>

<p>
  <strong>Issuetypename:</strong>
  <%= @issue_type.issueTypeName %>
</p>

<%= link_to 'Edit', edit_issue_type_path(@issue_type) %> |
<%= link_to 'Back', issue_types_path %>
