<% content_for :title, "Update: "+@priority_type.priorityTypeName %>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <%= render 'form', priority_type: @priority_type %>
            </div>
        </div>
    </div>
</div>