<p id="notice"><%= notice %></p>

<p>
  <strong>Prioritytypename:</strong>
  <%= @priority_type.priorityTypeName %>
</p>

<%= link_to 'Edit', edit_priority_type_path(@priority_type) %> |
<%= link_to 'Back', priority_types_path %>
