<% if @issue_checklist.valid? %>
  alert('Ok, created');
  location.reload();
<% else %>
    $(".notice").remove();
    <% @issue_checklist.errors.full_messages.each do |message| %>
    $("#error_explanation").append('<div class="notice"><%= escape_javascript(message)%></div>');
    <% end %>
<% end %>