<% content_for :title, "Update: "+@project_type.typeName %>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <%= render 'form', project_type: @project_type %>
            </div>
        </div>
    </div>
</div>