<p id="notice"><%= notice %></p>

<p>
  <strong>Typename:</strong>
  <%= @project_type.typeName %>
</p>

<%= link_to 'Edit', edit_project_type_path(@project_type) %> |
<%= link_to 'Back', project_types_path %>
