<% content_for :title, "Update: "+@user.username %>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <%= render 'form', user: @user %>
            </div>
        </div>
    </div>
</div>