<% content_for :title, "Update: "+@project.projectName %>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <%= render 'form', project: @project %>
            </div>
        </div>
    </div>
</div>