<% content_for :title, "New User Type" %>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <%= render 'form', user_type: @user_type %>
            </div>
        </div>
    </div>
</div>