<% content_for :title, "New Board" %>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <%= render 'form', board: @board %>
            </div>
        </div>
    </div>
</div>